<ion-header>
  <ion-toolbar>
    <ion-title>Democrats</ion-title>
    <ion-button slot="start" routerLink="" routerDirection="root">Back</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-header detail="false" routerLink="/bennet" routerDirection="bennet">
      <ion-item detail> 
         <ion-avatar slot="start">
          <img src="/assets/bennet.jpg" alt="" />
      </ion-avatar>
      <ion-avatar slot="end">
        <img src="/assets/donk.jpg" alt="" />
    </ion-avatar>
    </ion-item>
      <ion-card-subtitle>Democrat</ion-card-subtitle>
      <ion-card-title>Michael Bennet</ion-card-title>
      </ion-card-header>
  </ion-card>

  <ion-card>
      <ion-card-header detail="false" routerLink="/biden" routerDirection="biden">
        <ion-item detail> 
           <ion-avatar slot="start">
            <img src="/assets/Biden.png" alt="" />
        </ion-avatar>
        <ion-avatar slot="end">
          <img src="/assets/donk.jpg" alt="" />
      </ion-avatar>
      </ion-item>
        <ion-card-subtitle>Democrat</ion-card-subtitle>
        <ion-card-title>Joe Biden</ion-card-title>
        </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header detail="false" routerLink="/pete" routerDirection="pete">
        <ion-item detail> 
           <ion-avatar slot="start">
            <img src="/assets/pete.jpg" alt="" />
        </ion-avatar>
        <ion-avatar slot="end">
          <img src="/assets/donk.jpg" alt="" />
      </ion-avatar>
      </ion-item>
        <ion-card-subtitle>Democrat</ion-card-subtitle>
        <ion-card-title>Pete Buttigieg</ion-card-title>
        </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header detail="false" routerLink="/gabbard" routerDirection="gabbard">
        <ion-item detail> 
           <ion-avatar slot="start">
            <img src="/assets/gabbard.jpg" alt="" />
        </ion-avatar>
        <ion-avatar slot="end">
          <img src="/assets/donk.jpg" alt="" />
      </ion-avatar>
      </ion-item>
        <ion-card-subtitle>Democrat</ion-card-subtitle>
        <ion-card-title>Tulsi Gabbard</ion-card-title>
        </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header detail="false" routerLink="/amy" routerDirection="amy">
        <ion-item detail> 
           <ion-avatar slot="start">
            <img src="/assets/amy.jpg" alt="" />
        </ion-avatar>
        <ion-avatar slot="end">
          <img src="/assets/donk.jpg" alt="" />
      </ion-avatar>
      </ion-item>
        <ion-card-subtitle>Democrat</ion-card-subtitle>
        <ion-card-title>Amy Klobuchar</ion-card-title>
        </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header detail="false" routerLink="/patrick" routerDirection="patrick">
        <ion-item detail> 
           <ion-avatar slot="start">
            <img src="/assets/patrick.jpg" alt="" />
        </ion-avatar>
        <ion-avatar slot="end">
          <img src="/assets/donk.jpg" alt="" />
      </ion-avatar>
      </ion-item>
        <ion-card-subtitle>Democrat</ion-card-subtitle>
        <ion-card-title>Deval Patrick</ion-card-title>
        </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header detail="false" routerLink="/sanders" routerDirection="sanders">
        <ion-item detail> 
           <ion-avatar slot="start">
            <img src="/assets/sanders.png" alt="" />
        </ion-avatar>
        <ion-avatar slot="end">
          <img src="/assets/donk.jpg" alt="" />
      </ion-avatar>
      </ion-item>
        <ion-card-subtitle>Democrat</ion-card-subtitle>
        <ion-card-title>Bernie Sanders</ion-card-title>
        </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header detail="false" routerLink="/warren" routerDirection="warren">
        <ion-item detail> 
           <ion-avatar slot="start">
            <img src="/assets/warren.jpg" alt="" />
        </ion-avatar>
        <ion-avatar slot="end">
          <img src="/assets/donk.jpg" alt="" />
      </ion-avatar>
      </ion-item>
        <ion-card-subtitle>Democrat</ion-card-subtitle>
        <ion-card-title>Elizebeth Warren</ion-card-title>
        </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header detail="false" routerLink="/yang" routerDirection="yang">
        <ion-item detail> 
           <ion-avatar slot="start">
            <img src="/assets/yang.jpg" alt="" />
        </ion-avatar>
        <ion-avatar slot="end">
          <img src="/assets/donk.jpg" alt="" />
      </ion-avatar>
      </ion-item>
        <ion-card-subtitle>Democrat</ion-card-subtitle>
        <ion-card-title>Andrew Yang</ion-card-title>
        </ion-card-header>
    </ion-card>
  </ion-content>
