<ion-header>
  <ion-toolbar>
    <ion-title>Pete Buttigieg</ion-title>
    <ion-button slot="start" routerLink="/democrats" routerDirection="democrats">Back</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/pete.jpg" alt="" />
    <ion-card-header>
      <ion-card-title>Bio</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Peter Paul Montgomery Buttigieg is an American politician and candidate for the Democratic nomination in the 2020 United States presidential election. Buttigieg is a graduate of Harvard College and Oxford University, attending the latter on a Rhodes Scholarship.</p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Economy</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal33()"><ion-icon slot="end" name="cash"></ion-icon>Economic Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Climate Change</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal34()"><ion-icon slot="end" name="rainy"></ion-icon>Climate Change Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Education</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal35()"><ion-icon slot="end" name="book"></ion-icon>Education Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Gun Control</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal36()"><ion-icon slot="end" name="warning"></ion-icon>Gun Control Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Health Care</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal37()"><ion-icon slot="end" name="medkit"></ion-icon>Health Care Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Immigration</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal38()"><ion-icon slot="end" name="man"></ion-icon>Immigration Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Criminal Justice</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal39()"><ion-icon slot="end" name="finger-print"></ion-icon>Criminal Justice Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Elections</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal40()"><ion-icon slot="end" name="person-add"></ion-icon>Electoral Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>
</ion-content>

