<ion-header>
  <ion-toolbar>
    <ion-title>Tom Steyer</ion-title>
    <ion-button slot="start" routerLink="/democrats" routerDirection="democrats">Back</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/tom.jpg" alt="" />
    <ion-card-header>
      <ion-card-title>Bio</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Billionaire former hedge fund executive; climate change and impeachment activist.</p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Economy</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal49()"><ion-icon slot="end" name="cash"></ion-icon>Economic Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Climate Change</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal50()"><ion-icon slot="end" name="rainy"></ion-icon>Climate Change Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Education</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal51()"><ion-icon slot="end" name="book"></ion-icon>Education Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Gun Control</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal52()"><ion-icon slot="end" name="warning"></ion-icon>Gun Control Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Health Care</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal53()"><ion-icon slot="end" name="medkit"></ion-icon>Health Care Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Immigration</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal54()"><ion-icon slot="end" name="man"></ion-icon>Immigration Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Criminal Justice</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal55()"><ion-icon slot="end" name="finger-print"></ion-icon>Criminal Justice Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Elections</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal56()"><ion-icon slot="end" name="person-add"></ion-icon>Electoral Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>
</ion-content>

