<ion-header>
  <ion-toolbar>
    <ion-title>William Weld</ion-title>
    <ion-button slot="start" routerLink="/republicans" routerDirection="republicans">Back</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/weld.jpg" alt="" />
    <ion-card-header>
      <ion-card-title>Bio</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>William Floyd Weld is an American attorney, businessman, author, and Republican politician who served as the 68th Governor of Massachusetts from 1991 to 1997.</p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Economy</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal9()"><ion-icon slot="end" name="cash"></ion-icon>Economic Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Climate Change</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal()"><ion-icon slot="end" name="rainy"></ion-icon>Climate Change Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Education</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal()"><ion-icon slot="end" name="book"></ion-icon>Education Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Gun Control</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal()"><ion-icon slot="end" name="warning"></ion-icon>Gun Control Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Health Care</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal()"><ion-icon slot="end" name="medkit"></ion-icon>Health Care Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Immigration</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal()"><ion-icon slot="end" name="man"></ion-icon>Immigration Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Criminal Justice</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal()"><ion-icon slot="end" name="finger-print"></ion-icon>Criminal Justice Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Elections</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal()"><ion-icon slot="end" name="person-add"></ion-icon>Electoral Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>
</ion-content>
