<ion-header>
  <ion-toolbar>
<ion-icon name="close-circle" (click)="dismiss()"></ion-icon>
    <ion-title>Economy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title text-center>Minimum Wage</ion-card-title>
    <ion-card-content>Raise the federal minimum wage to $15/hour</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title text-center>Paid Leave</ion-card-title>
    <ion-card-content>Indicates support for paid family and sick leave</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title text-center>Reparations</ion-card-title>
    <ion-card-content>Study reparations</ion-card-content>
  </ion-card>
</ion-content>
