<ion-header>
  <ion-toolbar>
<ion-icon name="close-circle" (click)="dismiss()"></ion-icon>
    <ion-title>Education</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title text-center>Charter Schools</ion-card-title>
    <ion-card-content>Restrict charter school growth</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title text-center>Cost of College</ion-card-title>
    <ion-card-content>College should be free</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title text-center>Student Debt</ion-card-title>
    <ion-card-content>Impose government regulations</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title text-center>Teacher Pay</ion-card-title>
    <ion-card-content>Boost teacher pay</ion-card-content>
  </ion-card>
</ion-content>