<ion-header>
  <ion-toolbar>
<ion-icon name="close-circle" (click)="dismiss()"></ion-icon>
    <ion-title>Climate Change</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title text-center>Nuclear Power</ion-card-title>
    <ion-card-content>Support developing new nuclear technologies as part of an effort to fight climate change</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title text-center>Oil and gas drilling</ion-card-title>
    <ion-card-content>End new oil and gas leases on federal land and end offshore drilling</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title text-center>Reducing carbon emissions</ion-card-title>
    <ion-card-content>Tax carbon emissions</ion-card-content>
  </ion-card>
</ion-content>
