<ion-header>
  <ion-toolbar>
<ion-icon name="close-circle" (click)="dismiss()"></ion-icon>
    <ion-title>Immigration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title text-center>Deportation</ion-card-title>
    <ion-card-content>Trump's deportation policy is like Nazi Germany</ion-card-content>
  </ion-card> 
  <ion-card>
    <ion-card-title text-center>Citizenship</ion-card-title>
    <ion-card-content>Guest worker program rather than path to citizenship</ion-card-content>
  </ion-card> 
</ion-content>
