<ion-header>
  <ion-toolbar>
    <ion-title>
      Events
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
<ion-card>
  <ion-card-header text-center> March 2020</ion-card-header>
  <ion-card-subtitle>March 3rd</ion-card-subtitle>
  <ion-item>American Samoa Democratic caucus</ion-item>
    <ion-item>Alabama primaries</ion-item>
    <ion-item>Arkansas primaries</ion-item>
    <ion-item>California primaries</ion-item>
    <ion-item>Colorado primaries</ion-item>
    <ion-item>Massachusetts primaries</ion-item>
    <ion-item>Maine primaries</ion-item>
    <ion-item>Minnesota primaries</ion-item>
    <ion-item>North Carolina primaries</ion-item>
    <ion-item>Oklahoma primaries</ion-item>
    <ion-item>Tennessee primaries</ion-item>
    <ion-item>Texas primaries</ion-item>
    <ion-item>Utah primaries</ion-item>
    <ion-item>Vermont primaries</ion-item>
    <ion-item>Virginia Democratic primary</ion-item>
    <ion-item>Democrats Abroad primary (March 3-10, 2020)</ion-item>
</ion-card>
<ion-card>
  <ion-card-header>March 10th</ion-card-header>
  <ion-item>Hawaii Republican caucuses</ion-item>
  <ion-item>North Dakota Democratic caucuses</ion-item>
  <ion-item>Idaho primaries</ion-item>
  <ion-item>Michigan primaries</ion-item>
  <ion-item>Mississippi primaries</ion-item>
  <ion-item>Missouri primaries</ion-item>
  <ion-item>Washington primaries</ion-item>
</ion-card>
<ion-card>
  <ion-card-header>March 15th</ion-card-header>
  <ion-item>11th Democratic debate</ion-item>
</ion-card>
<ion-card>
  <ion-card-header>March 17th</ion-card-header>
  <ion-item>Arizona Democratic Primary</ion-item>
  <ion-item>Florida primaries</ion-item>
  <ion-item>Illinois primaries</ion-item>
  <ion-item>Ohio primaries</ion-item>
</ion-card>
<ion-card>
  <ion-card-header>March 21st</ion-card-header>
  <ion-item>Kentucky Republican caucuses </ion-item>
</ion-card>
<ion-card>
  <ion-card-header>March 24th</ion-card-header>
  <ion-item>American Samoa Republican caucus</ion-item>
  <ion-item>Georgia primaries</ion-item>
</ion-card>
<ion-card>
  <ion-card-header>March 27-29th</ion-card-header>
  <ion-item>North Dakota Republican convention</ion-item>
</ion-card>
<ion-card>
  <ion-card-header>March 29th</ion-card-header>
  <ion-item>Puerto Rico Democratic primary</ion-item>
</ion-card>
<ion-card>
  <ion-card-header text-center> April 2020</ion-card-header>
  <ion-card-subtitle>April 2-4</ion-card-subtitle>
  <ion-item>Alaska Republican convention</ion-item>
</ion-card>
<ion-card>
  <ion-card-header>April 4th</ion-card-header>
  <ion-item>Alaska Democratic primary</ion-item>
  <ion-item>Hawaii Democratic primary</ion-item>
  <ion-item>Louisiana primaries</ion-item>
  <ion-item>Wyoming Democratic caucuses</ion-item>
</ion-card>
<ion-card>
  <ion-card-header>April 28th</ion-card-header>
  <ion-item>New York Democratic primary</ion-item>
  <ion-item>Connecticut primaries</ion-item>
  <ion-item>Delaware primaries</ion-item>
  <ion-item>Maryland primaries</ion-item>
  <ion-item>Pennsylvania primaries</ion-item>
  <ion-item>Rhode Island primaries</ion-item>
</ion-card>
<ion-card>
  <ion-card-header>April 2020</ion-card-header>
  <ion-item>Final Democratic Debate</ion-item>
</ion-card>
<ion-card>
  <ion-card-header text-center>May 2020</ion-card-header>
  <ion-card-subtitle>May 2</ion-card-subtitle>
  <ion-item>Final Democratic Debate</ion-item>
</ion-card>
<ion-card>
  <ion-card-header>May 5th</ion-card-header>
  <ion-item>Indiana primaries</ion-item>
</ion-card>
<ion-card>
  <ion-card-header>May 7-9th</ion-card-header>
  <ion-item>Wyoming Republican Convention</ion-item>
</ion-card>
<ion-card>
  <ion-card-header>May 12th</ion-card-header>
  <ion-item>Nebraska primaries</ion-item>
  <ion-item>West Virginia primaries</ion-item>
</ion-card>
<ion-card>
  <ion-card-header>May 19th</ion-card-header>
  <ion-item>Kentucky Democratic primary</ion-item>
  <ion-item>Oregon primaries</ion-item>
</ion-card>
<ion-card>
  <ion-card-header>May 30th</ion-card-header>
  <ion-item>Nevada State convention</ion-item>
</ion-card>
<ion-card>
  <ion-card-header text-center>June 2020</ion-card-header>
  <ion-card-subtitle>June 2nd</ion-card-subtitle>
  <ion-item>Montana primaries</ion-item>
  <ion-item>New Jersey primaries</ion-item>
  <ion-item>New Mexico primaries</ion-item>
  <ion-item>South Dakota primaries</ion-item>
  <ion-item>D.C. Democratic primary</ion-item>
</ion-card>
<ion-card>
  <ion-card-header>June 6th</ion-card-header>
  <ion-item>Virgin Islands Democratic caucuses</ion-item>
</ion-card>
<ion-card>
  <ion-card-header text-center>July 2020</ion-card-header>
  <ion-card-subtitle>July 13-16th</ion-card-subtitle>
  <ion-item>Democratic National Convention, Milwaukee, Wisconsin</ion-item>
</ion-card>
<ion-card>
  <ion-card-header text-center>August 2020</ion-card-header>
  <ion-card-subtitle>August 24-27th</ion-card-subtitle>
  <ion-item>Republican National Convention, Charlotte, North Carolina</ion-item>
</ion-card>
<ion-card>
  <ion-card-header text-center>November 2020</ion-card-header>
  <ion-card-subtitle>November 3rd</ion-card-subtitle>
  <ion-item>Election Day!</ion-item>
</ion-card>
</ion-content>
 