<ion-header>
  <ion-toolbar>
    <ion-title>
      Presidential
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/presidents.jpg" alt="" />
      <ion-card-header>
        <ion-card-title text-center>Candico</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Candico is an app the informs the public about the potential candidates for the current and future presidential elections. Information is sourced from multiple places throughout the internet. Mock voting will occur shortly before each presidential election, currently and in the future.</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-item href="/republicans">
        <ion-avatar slot="start">
          <img src="/assets/ele.png" alt="" />
      </ion-avatar>
        <ion-label>Republicans</ion-label>
      </ion-item>
      <ion-item href="/democrats">
        <ion-avatar slot="start">
          <img src="/assets/donk.jpg" alt="" />
      </ion-avatar>
        <ion-label>Democrats</ion-label>
      </ion-item>
    </ion-card>
</ion-content>
