<ion-header>
  <ion-toolbar>
    <ion-title>
      Presidential
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/presidents.jpg" alt="" />
      <ion-card-header>
        <ion-card-title>Presidential</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Presidential is an app the informs the public about each presidential candidate's intentions for the country. Candidates are listed by random in order to discourage bias. Information is sourced from New York Times, December 3, 2019.</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-item href="/republicans">
        <ion-icon slot="start" color="medium" name="ios-return-right"></ion-icon>
        <ion-label>Republicans</ion-label>
      </ion-item>
      <ion-item href="/democrats">
        <ion-icon slot="start" color="medium" name="ios-return-left"></ion-icon>
        <ion-label>Democrats</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="ios-repeat"></ion-icon>
        <ion-label>Independants</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="ios-shuffle"></ion-icon>
        <ion-label>Others</ion-label>
      </ion-item>
 
    </ion-card>
</ion-content>
