<ion-header>
  <ion-toolbar>
<ion-icon name="close-circle" (click)="dismiss()"></ion-icon>
    <ion-title>Criminal Justice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title text-center>Capital Punishment/Death Penalty</ion-card-title>
    <ion-card-content>Supports death penalty for cop killers</ion-card-content>
  </ion-card> 
  <ion-card>
    <ion-card-title text-center>Civil Rights</ion-card-title>
    <ion-card-content>Prosecute police for civil rights violations</ion-card-content>
  </ion-card> 
  <ion-card>
    <ion-card-title text-center>Mandatory Minimum Sentences Reform</ion-card-title>
    <ion-card-content>When we catch the bad guys, we've got to hammer them</ion-card-content>
  </ion-card> 
</ion-content>
