<ion-header>
  <ion-toolbar>
    <ion-title>Joe Biden</ion-title>
    <ion-button slot="start" routerLink="/democrats" routerDirection="democrats">Back</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/Biden.png" alt="" />
    <ion-card-header>
      <ion-card-title>Bio</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Joseph Robinette Biden Jr. is an American politician who served as the 47th vice president of the United States from 2009 to 2017. Biden also represented Delaware in the U.S. Senate from 1973 to 2009.</p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Economy</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal41()"><ion-icon slot="end" name="cash"></ion-icon>Economic Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Climate Change</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal42()"><ion-icon slot="end" name="rainy"></ion-icon>Climate Change Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Education</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal43()"><ion-icon slot="end" name="book"></ion-icon>Education Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Gun Control</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal44()"><ion-icon slot="end" name="warning"></ion-icon>Gun Control Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Health Care</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal45()"><ion-icon slot="end" name="medkit"></ion-icon>Health Care Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Immigration</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal46()"><ion-icon slot="end" name="man"></ion-icon>Immigration Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Criminal Justice</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal47()"><ion-icon slot="end" name="finger-print"></ion-icon>Criminal Justice Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Elections</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal48()"><ion-icon slot="end" name="person-add"></ion-icon>Electoral Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>
</ion-content>

