<ion-header>
  <ion-toolbar>
<ion-icon name="close-circle" (click)="dismiss()"></ion-icon>
    <ion-title>Gun Control</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title text-center>Assuault Weapons</ion-card-title>
    <ion-card-content>Supportive of the US assault weapons ban in 2000 / Middle Ground</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title text-center>Background Check</ion-card-title>
    <ion-card-content>Extensive background checks should be required to purchase a weapon</ion-card-content>
  </ion-card>
</ion-content>

<!---Trump Gun Control-->