<ion-header>
  <ion-toolbar>
<ion-icon name="close-circle" (click)="dismiss()"></ion-icon>
    <ion-title>Electoral</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title text-center>Campaign Finance</ion-card-title>
    <ion-card-content>Unlimited spending should not be allowed in politics</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title text-center>Electoral College</ion-card-title>
    <ion-card-content>The Electoral College should be eliminated</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title text-center>Felon Voting</ion-card-title>
    <ion-card-content>Restoring voting rights after prison</ion-card-content>
  </ion-card>
</ion-content>
