<ion-header>
  <ion-toolbar>
<ion-icon name="close-circle" (click)="dismiss()"></ion-icon>
    <ion-title>Health Care</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title text-center>Medicaid </ion-card-title>
    <ion-card-content>Supports medicaid access</ion-card-content>
  </ion-card> 
  <ion-card>
    <ion-card-title text-center>Abortions</ion-card-title>
    <ion-card-content>Supports abortion rights</ion-card-content>
  </ion-card> 
</ion-content>

<!---Trump Health Care-->