<ion-header>
  <ion-toolbar>
<ion-icon name="close-circle" (click)="dismiss()"></ion-icon>
    <ion-title>Education</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title text-center>Government Profit</ion-card-title>
    <ion-card-content>No federal government profit from student loans</ion-card-content>
  </ion-card> 
  <ion-card>
    <ion-card-title text-center>Department of Education</ion-card-title>
    <ion-card-content>Cut Department of Education and Common Core spending </ion-card-content>
  </ion-card> 
</ion-content>

<!---Trump Education-->