<ion-header>
  <ion-toolbar>
<ion-icon name="close-circle" (click)="dismiss()"></ion-icon>
    <ion-title>Economic Views</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title text-center>Affordable Housing</ion-card-title>
    <ion-card-content>Construction funding, rent control and taxes to curb speculation</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title text-center>Big Banks</ion-card-title>
    <ion-card-content>Bring back Glass-Steagall</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title text-center>Income Inequality</ion-card-title>
    <ion-card-content>Raise taxes on the wealthy, create new social programs</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title text-center>Minimum Wage</ion-card-title>
    <ion-card-content>Raise the federal minimum wage to $15/hour</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title text-center>Paid Leave</ion-card-title>
    <ion-card-content>Support several months of broad paid leave</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title text-center>Reparations</ion-card-title>
    <ion-card-content>Study reparations</ion-card-content>
  </ion-card>
</ion-content>

