<ion-header>
  <ion-toolbar>
<ion-icon name="close-circle" (click)="dismiss()"></ion-icon>
    <ion-title>Economic Views</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title text-center>Affordable Housing</ion-card-title>
    <ion-card-content>Combination of construction funding and rent subsidies</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title text-center>Income Inequality</ion-card-title>
    <ion-card-content>Invest in workers and rural America</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title text-center>Minimum Wage</ion-card-title>
    <ion-card-content>Raise the federal minimum wage to $15/hour</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title text-center>Paid Leave</ion-card-title>
    <ion-card-content>Support broad paid family and medical leave plans up to 12 weeks</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title text-center>Reparations</ion-card-title>
    <ion-card-content>Study reparations</ion-card-content>
  </ion-card>
</ion-content>

