<ion-header>
  <ion-toolbar>
<ion-icon name="close-circle" (click)="dismiss()"></ion-icon>
    <ion-title>Immigration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title text-center>DACA</ion-card-title>
    <ion-card-content>Citizenship for Dreamers</ion-card-content>
  </ion-card> 
  <ion-card>
    <ion-card-title text-center>The Wall</ion-card-title>
    <ion-card-content>Back additional wall funding in broader immigration legislation</ion-card-content>
  </ion-card> 
</ion-content>
