<ion-header>
  <ion-toolbar>
<ion-icon name="close-circle" (click)="dismiss()"></ion-icon>
    <ion-title>Health Care</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title text-center>Abortion</ion-card-title>
    <ion-card-content>Few limits, if any</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title text-center>ACA / Coverage Expansion</ion-card-title>
    <ion-card-content>All in on Medicare for All</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title text-center>Drug Costs</ion-card-title>
    <ion-card-content>Government drug manufacturing</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title text-center>Medicare For All</ion-card-title>
    <ion-card-content>Medicare for All or bust</ion-card-content>
  </ion-card>
</ion-content>