<ion-header>
  <ion-toolbar>
    <ion-title>Republicans</ion-title>
    <ion-button slot="start" routerLink="" routerDirection="root">Back</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header detail="false" routerLink="/trump" routerDirection="trump">
      <ion-item detail>  
         <ion-avatar slot="start">
          <img src="/assets/trump.jpg" alt="" />
      </ion-avatar>
      <ion-avatar slot="end">
        <img src="/assets/ele.png" alt="" />
    </ion-avatar>
    </ion-item>
      <ion-card-subtitle>Republican</ion-card-subtitle>
      <ion-card-title>Donald Trump</ion-card-title>
      </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header detail="false" routerLink="/weld" routerDirection="weld">
      <ion-item detail> 
         <ion-avatar slot="start">
          <img src="/assets/weld.jpg" alt="" />
      </ion-avatar>
      <ion-avatar slot="end">
        <img src="/assets/ele.png" alt="" />
    </ion-avatar>
    </ion-item>
      <ion-card-subtitle>Republican</ion-card-subtitle>
      <ion-card-title>William Weld</ion-card-title>
      </ion-card-header>
  </ion-card>
  
  <ion-card>
    <ion-card-header detail="false" routerLink="/walsh" routerDirection="walsh">
      <ion-item detail> 
         <ion-avatar slot="start">
          <img src="/assets/walsh.jpg" alt="" />
      </ion-avatar>
      <ion-avatar slot="end">
        <img src="/assets/ele.png" alt="" />
    </ion-avatar>
    </ion-item>
      <ion-card-subtitle>Republican</ion-card-subtitle>
      <ion-card-title>Joe Walsh</ion-card-title>
      </ion-card-header>
  </ion-card>

  </ion-content>

