<ion-header>
  <ion-toolbar>
<ion-icon name="close-circle" (click)="dismiss()"></ion-icon>
    <ion-title>Education</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title text-center>Charter Schools</ion-card-title>
    <ion-card-content>Support charter schools and accountability</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title text-center>Cost of College</ion-card-title>
    <ion-card-content>Two years should be free</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title text-center>Student Debt</ion-card-title>
    <ion-card-content>Expand or fix existing debt-relief programs</ion-card-content>
  </ion-card> 
  <ion-card>
    <ion-card-title text-center>Teacher Pay</ion-card-title>
    <ion-card-content>Boost teacher pay</ion-card-content>
  </ion-card> 
</ion-content>