<ion-header>
  <ion-toolbar>
<ion-icon name="close-circle" (click)="dismiss()"></ion-icon>
    <ion-title>Gun Control</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title text-center>Assuault Weapons</ion-card-title>
    <ion-card-content>Supportive of the US assault weapons ban</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title text-center>Rights</ion-card-title>
    <ion-card-content>2nd Amendment rights are individual rights</ion-card-content>
  </ion-card>
</ion-content>

<!---Trump Gun Control-->