<ion-header>
  <ion-toolbar>
<ion-icon name="close-circle" (click)="dismiss()"></ion-icon>
    <ion-title>Climate Change</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title text-center>Climate Change</ion-card-title>
    <ion-card-content>Climate change is real and must be addressed.</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title text-center>Carbon Tax</ion-card-title>
    <ion-card-content>Carbon trading credits but no carbon tax.</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title text-center>Reducing carbon emissions</ion-card-title>
    <ion-card-content>Carbon capture & sequestration technology for global warming.</ion-card-content>
  </ion-card> 
</ion-content>
