<ion-header>
  <ion-toolbar>
<ion-icon name="close-circle" (click)="dismiss()"></ion-icon>
    <ion-title>Economic Views</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title>Manufacturing</ion-card-title>
    <ion-card-content>Supports US Manufacturing</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title>Minimum Wage</ion-card-title>
    <ion-card-content>Raise the federal minimum wage to $15/hour</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title>Paid Leave</ion-card-title>
    <ion-card-content>Support broad paid family and medical leave plans up to 12 weeks</ion-card-content>
  </ion-card>
</ion-content>
