<ion-header>
  <ion-toolbar>
<ion-icon name="close-circle" (click)="dismiss()"></ion-icon>
    <ion-title>Economic Views</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title text-center>Government Money</ion-card-title>
    <ion-card-content>No such thing as government money, just taxpayer money.</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title text-center>Taxes</ion-card-title>
    <ion-card-content>Cut taxes</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title text-center>Government Programs</ion-card-title>
    <ion-card-content>Abolish wasteful programs, and support balanced budgets.</ion-card-content>
  </ion-card>
</ion-content>
