<ion-header>
  <ion-toolbar>
<ion-icon name="close-circle" (click)="dismiss()"></ion-icon>
    <ion-title>Health Care</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title text-center>Abortion</ion-card-title>
    <ion-card-content>Some Limits</ion-card-content>
  </ion-card> 
  <ion-card>
    <ion-card-title text-center>Medicare For All</ion-card-title>
    <ion-card-content>Medicare for All will ruin promises to seniors</ion-card-content>
  </ion-card> 
</ion-content>

<!---Trump Health Care-->