<ion-header>
  <ion-toolbar>
    <ion-title>Amy Klobuchar</ion-title>
    <ion-button slot="start" routerLink="/democrats" routerDirection="democrats">Back</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/amy.jpg" alt="" />
    <ion-card-header>
      <ion-card-title>Bio</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Amy Jean Klobuchar is an American lawyer and politician serving as the senior United States Senator from Minnesota. A member of the Minnesota Democratic-Farmer-Labor Party, Minnesota's affiliate of the Democratic Party, she previously served as the Hennepin County Attorney.</p>
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Economy</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal()"><ion-icon slot="end" name="cash"></ion-icon>Economic Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Climate Change</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal()"><ion-icon slot="end" name="rainy"></ion-icon>Climate Change Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Education</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal()"><ion-icon slot="end" name="book"></ion-icon>Education Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Gun Control</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal()"><ion-icon slot="end" name="warning"></ion-icon>Gun Control Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Health Care</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal()"><ion-icon slot="end" name="medkit"></ion-icon>Health Care Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Immigration</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal()"><ion-icon slot="end" name="man"></ion-icon>Immigration Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Criminal Justice</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal()"><ion-icon slot="end" name="finger-print"></ion-icon>Criminal Justice Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Elections</ion-card-title>
    </ion-card-header>
    <ion-card-content><ion-row><ion-col width-50 style="text-align: center"><ion-button (click)="presentModal()"><ion-icon slot="end" name="person-add"></ion-icon>Electoral Views</ion-button></ion-col></ion-row></ion-card-content>
  </ion-card>
</ion-content>

<script>
  customElements.define('modal-content', class ModalContent extends HTMLElement {
    connectedCallback() {
      
    }
  });
  let currentModal = null;
  const controller = document.querySelector('ion-card');
  const button = document.querySelector('ion-button');
  button.addEventListener('click', createModal);
  function createModal() {
    controller.create({
      component: 'modal-content'
    }).then(modal => {
      modal.present();
      currentModal = modal;
    });
  }
  function dismissModal() {
    if (currentModal) {
      currentModal.dismiss().then(() => { currentModal = null; });
    }
  }
</script>
