<ion-header>
  <ion-toolbar>
<ion-icon name="close-circle" (click)="dismiss()"></ion-icon>
    <ion-title>Health Care</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title text-center>Abortion</ion-card-title>
    <ion-card-content>Some limits</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title text-center>ACA / Coverage Expansion</ion-card-title>
    <ion-card-content>Build on the ACA's foundation</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title text-center>Drug Costs</ion-card-title>
    <ion-card-content>Linking to overseas prices</ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title text-center>Medicare For All</ion-card-title>
    <ion-card-content>Opposes Medicare for All, but would expand coverage</ion-card-content>
  </ion-card>
</ion-content>